
.greyish-row {
  background-color: #f2f2f2; /* Change this to your desired grey color */
}
.heading{
  width: 100%;
  margin-block-start: 20px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
}
.searchinn{
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 4rem;
  font-size: 22px;
  font-weight: 400;
}
.head{
  font-size: 5rem;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.inputi{
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 2rem;
  font-size: 22px;
  font-weight: 400;
}

.search{
  margin-left: 5px;
  padding:7px;
  background-color: lightgreen;
  font-size: large;
  font-weight: 500;
  border-radius: 2rem;
border-color: lightgreen;
}
.buttoni{
  margin-left: 5px;
  padding:7px;
  background-color: lightgreen;
  font-size: large;
  font-weight: 500;
  border-radius: 2rem;
border-color: lightgreen;
}
.icon{
  font-size: 2rem;
  color:red;
}
.icon :hover{
  cursor: pointer;
  color:#d03434;
}
.all{
  display: flex;
  justify-content: space-between;
}

.pagi{
  display: flex;
justify-content: flex-end;
}
.page{
  margin-right: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  font-size: larger;
  font-weight: 600;
}

.count{
  margin-left: 1rem;
  font-size: larger;
  font-weight: 600;
}

.font{
  width: 100%;
  display: flex;
  gap:2rem;
}